<template>
<md-bottom-bar md-sync-route>
      <md-bottom-bar-item to="/student/notes" md-label="note" md-icon="home"></md-bottom-bar-item>
      <md-bottom-bar-item to="/student/notes/upload" md-label="upload" md-icon="upload"></md-bottom-bar-item>
      <md-bottom-bar-item to="/components/bottom-bar/favorites" md-label="Favorites" md-icon="favorite"></md-bottom-bar-item></md-bottom-bar>
  <!-- <footer>
    <b-navbar toggleable="md" type="dark" variant="info">
      <b-navbar-brand href="/student/notes">ノート一覧</b-navbar-brand>
      <b-navbar-brand href="/student/notes/upload">ノート投稿</b-navbar-brand>
    </b-navbar>
  </footer> -->
</template>

<style lang="scss" scoped>
  .phone-viewport {
    width: 322px;
    height: 200px;
    display: inline-flex;
    align-items: flex-end;
    overflow: hidden;
    border: 1px solid rgba(#000, .26);
    background: rgba(#000, .06);
  }
</style>

