<template>
<div class="page-container">
  <md-app md-waterfall md-mode="fixed">
    <md-app-toolbar class="md-primary">
      <!-- <md-button class="md-icon-button" @click="menuVisiable = !menuVisiable">
        <md-icon>menu</md-icon>
      </md-button> -->
      <span class="md-title">ShareNote</span>
    </md-app-toolbar>

    <!-- <md-app-drawer :md-active.sync="menuVisiable">
      <md-toolbar class="md-transparent" md-elevation="1">Nav</md-toolbar>
      <md-list>
        <md-list-item>
            <md-icon>move_to_inbox</md-icon>
            <span class="md-list-item-text">Inbox</span>
          </md-list-item>

          <md-list-item>
            <md-icon>send</md-icon>
            <span class="md-list-item-text">Sent Mail</span>
          </md-list-item>

          <md-list-item>
            <md-icon>delete</md-icon>
            <span class="md-list-item-text">Trash</span>
          </md-list-item>

          <md-list-item>
            <md-icon>error</md-icon>
            <span class="md-list-item-text">Spam</span>
          </md-list-item>
      </md-list>
    </md-app-drawer> -->
    <md-app-content>
      <nuxt />
    </md-app-content>
  </md-app>
</div>
</template>

<script>
import MyFooter from '~/components/Footer.vue'
import MyHeader from '~/components/Header.vue'
export default {
  name: 'Reveal',
  data: () => ({
    menuVisiable: false
  }),
  components: {
    MyFooter,
    MyHeader
  }
}
</script>
