<template>
  <section>
    <b-row><h1>ノート投稿</h1></b-row>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group id="inputGroup1"
                    label="グループ:"
                    label-for="input1">
        <b-form-select id="input1"
                      :options="foods"
                      required
                      v-model="form.food">
        </b-form-select>
      </b-form-group>
      <b-form-group id="inputGroup1"
                    label="教科:"
                    label-for="input1">
        <b-form-select id="input1"
                      :options="foods"
                      required
                      v-model="form.food">
        </b-form-select>
      </b-form-group>
      <b-form-group id="inputGroup1"
                    label="時間割指定:"
                    label-for="input1">
        <b-form-select id="input1"
                      :options="foods"
                      required
                      v-model="form.food">
        </b-form-select>
      </b-form-group>
      <b-form-group label="画像">
        <b-form-file v-model="file" accept="image/*" placeholder="Choose a file..."></b-form-file>
      </b-form-group>
      <b-button type="submit" variant="primary">投稿</b-button>
      <b-button type="reset" variant="danger">リセット</b-button>
    </b-form>
  </section>
</template>

<script>
export default {
  data () {
    return {
      form: {
        email: '',
        name: '',
        food: null,
        checked: []
      },
      foods: [
        {text: 'Select One', value: null},
        'Carrots',
        'Beans',
        'Tomatoes',
        'Corn'
      ],
      show: true,
      file: null
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      alert(JSON.stringify(this.form))
    },
    onReset (evt) {
      evt.preventDefault()
      /* Reset our form values */
      this.form.email = ''
      this.form.name = ''
      this.form.food = null
      this.form.checked = []
      /* Trick to reset/clear native browser form validation state */
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>
